<!-- Footer -->
<div class="container-fluid mt-2"
	style="background-color: #2A2A29; height: 210px;">
	<div class="footer">
		<div class="footer-content clearfix">
			<div class="container">
				<div class="row">
					<div class="footer-box box-address col-md-4 col-sm-12 col-xs-12">
						<div class="item">
							<div class="clearfix">
								<a href="#"> <img th:src="@{/assets/image/web/logo.png}"
									style="width: 20%; height: 20%;">
								</a>
							</div>
							<div class="box-address-content">
								<b>Cửa hàng điện tử Hương Quê</b>
								<p>
									<i class="fa fa-map-marker"></i> 20, Đề Thám, Ninh Kiều, Cần Thơ
								</p>
								<p>
									<i class="fa fa-envelope"></i> 
									<a href="mailto:philhpc00552@fpt.edu.vn">philhpc00552@fpt.edu.vn</a>
								</p>
								<p>
									<i class="fa fa-phone"></i> Phone: (08) 68 323 770
								</p>
							</div>
						</div>
					</div>
					<div class="footer-box col-md-3 col-sm-12 col-xs-12 mt-4">
						<div class="item">
							<h3>
								<span>Giới Thiệu</span>
							</h3>
						</div>
						<ul>
							<li><a href="#"> Giới thiệu cửa hàng</a></li>
							<li><a href="#"> Giới thiệu sản phẩm</a></li>
							<li><a href="#"> Thông tin liên hệ</a></li>
						</ul>
					</div>
					<div class="footer-box col-md-3 col-sm-12 col-xs-12  mt-4">
						<div class="item">
							<h3>Liên Hệ</h3>
							<div class="social-icon">
								<ul>
									<li><a><i class="fa fa-google-plus"></i></a></li>
									<li><a><i class="fa fa-facebook"></i></a></li>
									<li><a><i class="fa fa-youtube"></i></a></li>
									<li><a><i class="fa fa-twitter "></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>