<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}">
<body>
    <main>
        <h3 class="mt-3">GIỚI THIỆU</h3>
        <hr>
            <div class="mt-3">
				Công ty Cổ phần Tư vấn công nghệ, thiết bị và Kiểm định xây dựng - HUONGQUE là một doanh nghiệp tư vấn đầu tư và xây dựng, 
				hoạt động đa lĩnh vực, đa ngành nghề trong phạm vi cả nước, hợp tác kinh doanh hiệu quả với nhiều Công ty và tập đoàn kinh tế lớn trên thế giới.
 				<br>
 				 <br>
				Với triết lý " Chắc chắn cho tương lai", chúng tôi luôn hướng tới mục tiêu phát triển bền vững cho chính Công ty và cho khách hàng của mình.
 <br>
  <br>
				Từ ngày thành lập 21 tháng 05 năm 2001 đến nay, trải qua hơn 30 năm xây dựng và trưởng thành, tập thể lãnh đạo, 
				cán bộ công nhân viên Công ty đã nỗ lực không ngừng xây dựng và phát triển. HUONGQUE đã được Đảng và Nhà nước ghi 
				nhận thành tích và tặng thưởng nhiều danh hiệu cao quý, góp phần tạo dựng thương hiệu HUONGQUE là một trong những Công ty 
				hàng đầu trong Tập đoàn Tư vấn Xây dựng Việt Nam.
 <br>
  <br>
				HUONGQUE cũng được các Chủ đầu tư và khách hàng đánh giá là một thương hiệu Tư vấn Xây dựng lớn có uy tín, tin cậy, 
				có thể độc lập đảm đương thực hiện công tác tư vấn cho các dự án quy mô lớn, phức tạp về công nghệ, kỹ thuật.
 <br>
  <br>
				Hiện nay, với mô hình hoạt động mới là một Công ty đại chúng, sau khi thực hiện thành công và hiệu quả mô hình Nhượng 
				quyền thương mại cho các Công ty thành viên, cùng với sự quan tâm, giúp đỡ và chỉ đạo kịp thời của Lãnh đạo các cấp, các ngành, 
				sự tin cậy của Quý khách hàng, thương hiệu HUONGQUE ngày càng phát triển và lớn mạnh.
 <br>
  <br>
				Bằng việc kiên trì thực hiện Hệ thống quản lý chất lượng phù hợp với tiêu chuẩn Quốc tế ISO 9001: 2008, CONINCO 
				đảm bảo cung cấp các dịch vụ và sản phẩm tốt nhất để làm hài lòng Quý vị khách hàng, hy vọng mang lại được nhiều lợi ích cho 
				cộng đồng góp phần vào sự nghiệp xây dựng phát triển đất nước.
        </div>
    </main>
</body>