<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{/layout/index.html :: dynamic(~{::main})}">

<body>
	<main class="mt-2">
		
		<div class="row">
			<div th:each="p: ${list}" class="col-sm-4 col-md-4 mt-3 card shadow p-1 mb-1 bg-white rounded cart_hover">
				<div class="card-body text-center">
					<a th:href="@{|/product/detail/${p.id}|}"> <img th:src="@{|/assets/image/product/${p.image}|}"
							style="max-width: 95%; height: 150px;" alt="">
					</a>
				</div>
				<div class="card-footer text-center" style="border-top: 2px solid #85BA3D;">
					<p class="name" th:utext="${p.name}">
					</p>
					<p>[[${#numbers.formatDecimal({p.price}, 0, 'COMMA', 0, 'POINT')}]] - VNĐ</p>
					<div class="row">
						<button th:attr="ng-click=@{|cart.add(${p.id})|}" class="muangay ml-2"><i
								class="fa fa-check"></i> Thêm Vào Giỏ Hàng</button>
					</div>
				</div>
			</div>
		</div>
		<hr>
		<div class="row">
			<div style="margin-left: 37%">
				<a class="btn btn-success" th:href="@{|/product/list?page=0|}">
					<i class="fa fa-hand-o-up"></i>
				</a>
				<a class="btn btn-success ml-3" th:href="@{|/product/list?page=${list.number-1}|}"><i
						class="fa fa-hand-o-left"></i></a>
				<a class="btn btn-success ml-1"
					th:href="@{|/product/list?page=${list.number+1 > list.getTotalPages() -1 ? list.getTotalPages() -1:list.number+1 }|}"><i
						class="fa fa-hand-o-right"></i></a>
				<a class="btn btn-success ml-3" th:href="@{|/product/list?page=${list.getTotalPages()-1}|}">
						<i class="fa fa-hand-o-down"></i></a>
			</div>
		</div>
	</main>
</body>

</html>